body {
  background-color: whitesmoke;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.1rem;
  border-bottom: black solid 1.5px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  padding-left: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.logo a {
  color: black;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 3rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}

/* PRODUCT PAGE */

.productnav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
}

.productname {
  font-family: Arial, Helvetica, sans-serif;
}

.productname {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.currentproduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 300px));
}

.productimg {
  grid-column: 1/2;
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

.productinfo {
  grid-column: 2/3;
  padding-left: 2rem;
}

.color {
  font-size: larger;
  font-weight: 500;
}

.soldout {
  color: rgb(173, 32, 32);
}

/* CATEGORY PAGE */

.categorylist ol {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  padding-bottom: 2rem;
  list-style: none;
}
.categorylist a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
}

.categories h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3rem;
}

.categories h2 {
  padding-left: 3rem;
}

.categoryimg {
  max-width: 100%;
  height: auto;
  padding-left: 2rem;
}

.masterCategory li {
  padding-left: 1rem;
  line-height: 1.8rem;
  list-style: none;
}

.masterCategory li:hover {
  background-color: white;
}

.masterCategory a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* PRODUCT LIST */

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 1.5rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.productlist h2 {
  grid-column: 1/-1;
}

.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}

.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.subtle {
  color: #4e4d4dcc;
}

.productlist article {
  display: flex;
  flex-direction: column;
}

.productlist article.soldOut img {
  opacity: 0.6;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  z-index: 10;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.discounted > p {
  margin-bottom: 0;
}

.productlist article.onSale .price span {
  display: initial;
}

.productlist article {
  margin-bottom: 1rem;
}

.discounted p:last-child {
  background-color: orange;
  padding: 0.2rem;
}

/* @media screen and (min-width: 700px) {
  .categories {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .categories h2 {
    padding-left: 0;
  }

  .masterCategory li {
    padding-left: 0;
  }

  .masterCategory ol {
    padding-left: 1rem;
  }

  #apparelimg {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #accessoryimg {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #footwearimg {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #pcimg {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #freeimg {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  #sgimg {
    grid-column: 1/2;
    grid-row: 6/7;
  }
} */
