body {
  background-color: whitesmoke;
}

ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}

li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

li > a {
  color: black;
  text-decoration: none;
}

/* PRODUCT PAGE */

.productnav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
}

.productname {
  font-family: Arial, Helvetica, sans-serif;
}

.currentproduct {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
}

.productimg {
  grid-column: 1/2;
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

.productinfo {
  grid-column: 2/3;
  padding-left: 2rem;
}

.color {
  font-size: larger;
  font-weight: 500;
}

.soldout {
  color: rgb(173, 32, 32);
}

/* CATEGORY PAGE */

.letters ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.1rem;
}

.categoryimg {
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 700px) {
  .categories {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  #apparelimg {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #accessoryimg {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #footwearimg {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #pcimg {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #freeimg {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  #sgimg {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
