/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nanum+Myeongjo&family=Poppins:wght@200&family=ZCOOL+KuaiLe&family=Zen+Maru+Gothic:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nanum+Myeongjo&family=ZCOOL+KuaiLe&family=Zen+Maru+Gothic:wght@300&display=swap");

/* ALL */
body {
  background-color: whitesmoke;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "DM Serif Display", serif;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.1rem;
  border-bottom: black solid 1.5px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  padding-left: 3rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.logo a {
  color: black;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding-right: 3rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-links a:hover {
  text-decoration: underline 1.5px;
}

/* PRODUCT PAGE */

.productnav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.productnav a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.productnav li {
  list-style: none;
}

.productname {
  font-family: "DM Serif Display", serif;
  padding: 0;
}

.currentproduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 300px));
}

.productimg {
  grid-column: 1/2;
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

.productinfo {
  grid-column: 2/3;
  padding-left: 2rem;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  border: none;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
}

button:hover {
  color: orange;
}

/* CATEGORY PAGE */

.categorylist ol {
  display: flex;
  font-size: 0.65rem;
  justify-content: space-around;
  padding-bottom: 2rem;
  list-style: none;
}
.categorylist a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
}

.categories h3 {
  font-family: "DM Serif Display", serif;
  padding-left: 3rem;
}

.categoryimg {
  max-width: 100%;
  height: auto;
  padding-left: 2rem;
}

.masterCategory li {
  padding-left: 1rem;
  line-height: 1.8rem;
  list-style: none;
  font-size: 0.8rem;
}

.masterCategory li:hover {
  background-color: white;
}

.masterCategory a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* PRODUCT LIST */

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 1.5rem;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.productlist .listtype {
  display: grid;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.productlist img {
  padding-bottom: 1rem;
}

.productlist a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.productlist a:hover {
  text-decoration: underline;
}

.productlist article h3 {
  font-size: 1rem;
  font-family: "DM Serif Display", serif;
  font-size: 1.1rem;
}

.productlist article > * {
  margin: 0;
}

.subtle {
  color: #4e4d4dcc;
  padding-bottom: 5px;
  font-size: 0.8rem;
}

.productlist article {
  display: flex;
  flex-direction: column;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background-color: black;
  color: white;
  padding: 1rem;
  z-index: 10;
}

.productlist article .discounted {
  display: none;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article.onSale .price {
  text-decoration: line-through;
  color: rgb(130, 129, 129);
}

.discounted > p {
  margin-bottom: 0;
}

.productlist article.onSale .price span {
  display: initial;
}

.productlist article {
  margin-bottom: 1rem;
}

.discounted p:last-child {
  background-color: orange;
  padding: 0.2rem;
}
